


<div id="main-login-card" class="col-md-12">
  <storybook-card class="card-container"></storybook-card>
  <div  class="h-100 d-flex align-items-center justify-content-center">
    <storybook-button-ex id="button-ex"  (click)="this.clickXButton.emit()" ></storybook-button-ex>
    <div class="form-header">
      <a >{{'Aeonix App Center' | translate}}</a>
    </div>

    <br>
    <!--form name="form"  (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate --> <!-- *ngIf="!isConfigSuccess"-->
      <form name="currentForm" >
      <div  class="Vector">



            <!--div *ngIf="isLoggedIn">isConfigSuccess</div>
            <div *ngIf="!isLoggedIn && storyInputsInOrder.length === 0">empty</div>
            <storybook-input
              [storyInput]="storyInputsInOrder[0]"
              (onArchiveInput)="onArchiveInput.emit($event)"
              (onPinInput)="onPinInput.emit($event)"
              [currentForm]="mForm">
            </storybook-input>

            <storybook-input
              [storyInput]="storyInputsInOrder[1]"
              (onArchiveInput)="onArchiveInput.emit($event)"
              (onPinInput)="onPinInput.emit($event)"
              [currentForm]="mForm">
            </storybook-input-->

        <div class="second-header" style="top: 5px;" >
          <a [dir]="_translate?.currentDir" class="second-header-text"  href="#/login"
             style="{{_translate?.currentDir == 'rtl' ? 'text-align: right;' : 'text-align: left;'}}">
            {{ 'Please enter the Verification Code' | translate}}<br>
            {{ 'you received in your mail:' | translate }}
          </a>
      </div>


      <div id="button-successfully" style="">
            <storybook-button-successfully  *ngIf="status.isVerSuccess"  style="position: relative; top: 15px"></storybook-button-successfully>
            <code-input *ngIf="!status.isVerSuccess"
                        #codeInput
                        [codeLength]="codeLength"
                        (codeChanged)="onCodeChanged($event)"
                        (codeCompleted)="onCodeCompleted($event)">
            </code-input>
      </div>





      <div class="login-button">
            <div class="login-failed-message" role="alert" style="position: relative; top: 15px">
              <table *ngIf="this.status?.isVerFailed">
                <tr>{{ this.status?.verErrorMessage.toString()  | translate }}</tr>
                <tr  *ngFor="let message of this.status?.verErrorMessage.data?.confirmPassword.split(', ')">{{message.trim() | translate }}</tr>
              </table>
            </div>

            <storybook-button-continue size="medium" label="{{'Login' | translate}}" type="button" (click)="onSubmit()" style="position: relative; top: 15px"></storybook-button-continue>


            <a *ngIf="!status.isVerSuccess" class="resend-verification" [dir]="_translate?.currentDir" (click)="generateNewCodeFor2SV.emit()" style="position: relative; top: 40px;">
              {{ 'resend the verification code' | translate }}
            </a>

      </div>




      </div>


    </form>
  </div>
</div>

