.Vector {
  position: absolute;
  top: 48px;
  left: 99px;
  width: 19px;
  height: 19px;
}

img.Language-Desktop-Icon {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 19px;
  height: 19px;
  object-fit: contain;
  box-shadow: 0 1px 1px 0 rgba(61, 142, 207, 0.15);
}
