
<storybook-registry-form #form
                  [isRegSuccess]="isRegSuccess"
                  [isRegFailed]="isRegFailed"
                  [regErrorMessage]="regErrorMessage"
                  [isLoading]="isLoading"
                  [storyInputs]="storyInputsInOrder"
                  [mForm]="registerForm"
                  [direction]="this._translate.currentDir"
                  (sendRegReq)="onSubmit()"
                  (clickXButton)="this.dialogRef.close('xbutton')">
</storybook-registry-form>
