
<storybook-my-account-form #form
  [isRegSuccess]="isSaveDetailSuccess"
  [isRegFailed]="isSaveDetailFailed"
  [regErrorMessage]="saveDetailErrorMessage"
  [storyInputs]="storyInputsInOrder"
  [displayToolButton]="displayConfigButton()"
  [mForm]="myAccountForm"
  [isLoading]="isLoading"
  (onSaveChanges)="saveDetail($event)"
  (clickXButton)="this.dialogRef.close('xbutton')"
  (onLogout)="doLogout()"
  (changePassword)="openChangePassword()"
  (openUser)="openUser()"
></storybook-my-account-form>
