


<div id="main-login-card" class="col-md-12">
  <storybook-card class="card-container"></storybook-card>
  <div  class="h-100 d-flex align-items-center justify-content-center">
    <storybook-button-ex id="button-ex" (click)="this.clickXButton.emit()" ></storybook-button-ex>
    <div class="form-header" style="{{this.direction == 'rtl' ? 'text-align: right;' : 'text-align: left;'}}">
      <a class="main-form-header" #formHeader>{{ 'Complete Registration' | translate }}</a>
      <br>
      <a *ngIf="!isRegSuccess" class="sub-form-header">{{'Complete the registration by filling the missing info:'  | translate }}</a>

    <br>
    <!--form name="form"  (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate --> <!-- *ngIf="!isConfigSuccess"-->
      <form name="currentForm"   [formGroup]="mForm">
      <div class="Vector">


        <div *ngIf="isRegSuccess" id="button-successfully" style="">
          <storybook-button-successfully   style="position: relative; margin-bottom: 50px;"></storybook-button-successfully>
        </div>

        <div class="login-button">
            <div *ngIf="!isRegSuccess && storyInputsInOrder.length === 0">empty</div>
            <div *ngIf="!isRegSuccess">
              <storybook-input
                [storyInput]="storyInputsInOrder[0]"
                [direction]="this.direction"
                (onArchiveInput)="onArchiveInput.emit($event)"
                (onPinInput)="onPinInput.emit($event)"
                [currentForm]="mForm">
              </storybook-input>
              <storybook-input
                [storyInput]="storyInputsInOrder[1]"
                [direction]="this.direction"
                (onArchiveInput)="onArchiveInput.emit($event)"
                (onPinInput)="onPinInput.emit($event)"
                [currentForm]="mForm">
              </storybook-input>
              <storybook-input
                [storyInput]="storyInputsInOrder[2]"
                [direction]="'ltr'"
                (onArchiveInput)="onArchiveInput.emit($event)"
                (onPinInput)="onPinInput.emit($event)"
                [currentForm]="mForm"
                [conditionList]="['requiresPhone']">
              </storybook-input>
              <storybook-input
                [storyInput]="storyInputsInOrder[3]"
                [direction]="'ltr'"
                (onArchiveInput)="onArchiveInput.emit($event)"
                (onPinInput)="onPinInput.emit($event)"
                [currentForm]="mForm"
                [conditionList]="['requiresEmail']">
              </storybook-input>
              <!--storybook-input
                *ngFor="let storyInput of storyInputsInOrder"
                [storyInput]="storyInput"
                (onArchiveInput)="onArchiveInput.emit($event)"
                (onPinInput)="onPinInput.emit($event)"
                [currentForm]="mForm">
              </storybook-input-->
            </div>

            <div *ngIf="!isRegSuccess" class="thematic-break"></div>
            <div class="login-failed-message" role="alert" >
              <p *ngIf="isRegFailed">*  {{ this.regErrorMessage['message'] | translate }}</p>
            </div>

            <storybook-button-continue [label]="isRegSuccess ? 'Continue' :'Complete Registration' | translate "  size="small"
                                       label="'Continue' " type="button" (click)="onSubmit()" >
            </storybook-button-continue>
        </div>
        </div>

    </form>
  </div>
  </div>
</div>

