.Vector {
  position: absolute;
  top: 54px;
  right: 68px;
  width: 26px;
  height: 26px;
}

img.Language-Desktop-Icon {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 26px;
  height: 26px;
  object-fit: contain;
  box-shadow: 0 1px 1px 0 rgba(61, 142, 207, 0.15);
}
