


<div id="main-login-card" class="col-md-12">
  <storybook-card class="card-container"></storybook-card>
  <div  class="h-100 d-flex align-items-center justify-content-center">
    <storybook-button-ex id="button-ex" (click)="this.clickXButton.emit()" ></storybook-button-ex>
    <div class="form-header">
      <a class="main-form-header" #formHeader>Change Password</a>
      <br>

      <br>
      <form name="currentForm"   [formGroup]="mForm">
        <div class="Vector">

          <div *ngIf="status.isRepSuccess" id="button-successfully" style="">
            <storybook-button-successfully   style="position: relative; margin-bottom: 50px;"></storybook-button-successfully>
          </div>

          <div class="login-button">
              <div *ngIf="!status.isRepSuccess && storyInputsInOrder.length === 0">empty</div>
              <div *ngIf="!status.isRepSuccess">
                <storybook-input
                  [storyInput]="storyInputsInOrder[0]"
                  (onArchiveInput)="onArchiveInput.emit($event)"
                  (onPinInput)="onPinInput.emit($event)"
                  [currentForm]="mForm">
                </storybook-input>

                <div *ngIf="!status.isRepSuccess" class="thematic-break"></div>

                <storybook-input
                  [storyInput]="storyInputsInOrder[1]"
                  (onArchiveInput)="onArchiveInput.emit($event)"
                  (onPinInput)="onPinInput.emit($event)"
                  [currentForm]="mForm"
                  [conditionList]="['minLength','requiresUppercase','requiresLowercase','requiresDigit']">
                </storybook-input>


                <div></div>
                <storybook-input
                  [storyInput]="storyInputsInOrder[2]"
                  (onArchiveInput)="onArchiveInput.emit($event)"
                  (onPinInput)="onPinInput.emit($event)"
                  [currentForm]="mForm"
                  [conditionList]="['minLength','requiresUppercase','requiresLowercase','requiresDigit']">
                </storybook-input>
              </div>

              <br>
                <div class="login-failed-message" role="alert" >
                  <table *ngIf="this.status?.isRepFailed">
                    <tr>{{ this.status?.repErrorMessage['message'] | apiErrorMessage: param }}</tr>
                    <tr  *ngFor="let message of this.status?.repErrorMessage.data?.confirmPassword.split(', ')">{{message.trim() | apiErrorMessage: param }}</tr>
                  </table>
                </div>
              <storybook-button-continue [label]="status.isRepSuccess ? 'Continue' :'Change Password'" size="small"
                                         label="Continue" type="button" (click)="onSubmit()" >
              </storybook-button-continue>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

