
<html>
<head>
  <style>

  </style>
  <title></title>
</head>
<body>

<!--article><div class="Frame-1 relative">
<section class="relative " Style="{ 'background': backgroundColor }"-->

<!--storybook-button-globe></storybook-button-globe-->

<storybook-background1></storybook-background1>

<!--button mat-raised-button (click)="openReplacePassForm()">ReplacePassForm</button>
<button mat-raised-button (click)="openRegisterForm()">RegisterForm</button>
<button mat-raised-button (click)="openVerificationForm()">VerificationForm</button>
<button mat-raised-button (click)="openForgotPassForm()">forgotPassForm</button>

<button mat-raised-button (click)="home2()">home2</button-->
<button mat-raised-button (click)="profile2()">profile2</button>
<button mat-raised-button (click)="configuratin()">configuratin</button>

<storybook-login-form
  [isLoggedIn]="false"
  [isLoading]="isLoading"
  [isLoginFailed]="isLoginFailed"
  [loginErrorMessage]="loginErrorMessage"
  [mForm]="loginForm"
  [storyInputs]="storyInputsInOrder"
  (sendLoginReq)="onSubmit()"
  (openForgetPassForm)="openForgotPassForm()"
></storybook-login-form>


<!--/section></div>
</article-->

</body>
</html>


