<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<storybook-background1></storybook-background1>

<!--button mat-raised-button (click)="setPassExpAlertData()">setPassExpAlertData</button-->

<storybook-avatar
  id="avatar"
  [label]="this.currentUser.username"
  [isNotify]="this.isNotify()"
  header="{{'Your password will expire in ' + this.passExp +' Days.'}}"
  (actionButton)="openReplacePassForm()"
  (click)="this.setPermittedWebAppList()">
</storybook-avatar>

<!--this.setPassExpAlertData() -->


<storybook-app-menu
  [profileApps]="permittedWebAppList"
  [isLoading]="isLoading"
  (openNewWinForApp)="openNewWinForApp($event)"
  (openNewTabForApp)="openNewTabForApp($event)">
</storybook-app-menu>

</body>
</html>
