
<div [twPopover] = "this.popover">
<!-- a (mouseover)="popover.show()" (mouseleave)="popover.hide()"
   class="form-check-label white-text"   mdbPopoverTitle="Account recovery" #popover="mdbPopover"
   mdbPopover="To help keep your account safe, we will make sure that it’s really you trying to sign in">
</a
  Forgot password?-->


<button class="main" highlight="blue" colorName="blue"
        type="button"
        (click)="onClick.emit($event)"
        [ngClass]="classes"
        [ngStyle]="{ 'background-color': backgroundColor }">

  <div class="circle">

    <img src="/assets/images/ProfileImage 1.svg" srcset="/assets/images/profile-image-1@2x.svg, /assets/images/profile-image-1@3x.svg"
         class="Avatar-Icon"  alt="apps-button-icon">

  </div>
  <storybook-button-exclamation-mark  *ngIf="this.isNotify" class="exclamation-mark" size="small" ></storybook-button-exclamation-mark>
  <div class="Avatar-Label"><a class="font">{{ label }}</a></div>
</button>

</div>
