


<div id="main-login-card" class="col-md-12">
  <storybook-card class="card-container"></storybook-card>
  <div  class="h-100 d-flex align-items-center justify-content-center">
    <storybook-button-ex id="button-ex" (click)="this.clickXButton.emit()" ></storybook-button-ex>
    <button id="button-log-out" (click)="this.doLogout($event)" >{{ 'Log out' | translate }}</button>
    <label style="top: 1px; display: inline;">Log out</label>
    <div class="form-header" style="{{_translate?.currentDir == 'rtl' ? 'text-align: right;' : 'text-align: left;'}}" >

      <a class="main-form-header" >{{'My Account' | translate}} </a>
      <br>

    <br>

    <!--form name="form"  (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate --> <!-- *ngIf="!isConfigSuccess"-->
      <form name="currentForm"   [formGroup]="mForm">

      <div class="Vector">

        <storybook-spinner1  *ngIf="isLoading"></storybook-spinner1>
        <!--div *ngIf="isRegSuccess" id="button-successfully" style="">
          <storybook-button-successfully   style="position: relative; margin-bottom: 50px;"></storybook-button-successfully>
        </div-->

        <div class="login-button">
            <div></div>
            <div>
              <storybook-account-input
                [storyInput]="storyInputsInOrder[0]"
                (onSaveChanges)="onSaveChanges.emit($event)"
                [regErrorMessage]="regErrorMessage"
                [currentForm]="mForm"
                [_translate]="_translate">
              </storybook-account-input>
              <div class="thematic-break"></div>
              <storybook-account-input
                [storyInput]="storyInputsInOrder[1]"
                (onSaveChanges)="onSaveChanges.emit($event)"
                [currentForm]="mForm"
                [regErrorMessage]="regErrorMessage"
                [_translate]="_translate"
                [conditionList]="['requiresPhone']">
              </storybook-account-input>
              <div class="thematic-break"></div>
              <storybook-account-input
                [storyInput]="storyInputsInOrder[2]"
                (onSaveChanges)="onSaveChanges.emit($event)"
                [regErrorMessage]="regErrorMessage"
                [currentForm]="mForm"
                [_translate]="_translate"
                [conditionList]="['requiresEmail']">
              </storybook-account-input>
              <div class="thematic-break"></div>
              <storybook-account-input
                [storyInput]="storyInputsInOrder[3]"
                (changePassword)="changePassword.emit($event)"
                [regErrorMessage]="regErrorMessage"
                [currentForm]="mForm"
                [_translate]="_translate">
              </storybook-account-input>

            </div>

            <div class="login-failed-message" role="alert" >
              <p *ngIf="isRegFailed">*  {{ this.regErrorMessage  }}</p>
            </div>


            <storybook-button-configuration *ngIf="displayToolButton" class="button-configuration" size="small"
                                            style="{{_translate?.currentDir == 'rtl' ? 'left: 105px;' : 'right: -40px;'}}"
                                            (click)="this.openUser.emit()" [_translate]="_translate" >
            </storybook-button-configuration>
        </div>
      </div>

    </form>
  </div>
  </div>
</div>

