<div class="container">
  <br>
  <header class="background jumbotron  ">
    <h1 class="font_0">
      <span class="" style="font-size:44px;">
        <span>{{ content }}</span>
      </span>
    </h1>
  </header>

  <embed type="text/html" src="https://www.tadirantele.com/" height="300px" width="100%" >

  <h2>Iframe - Target for a Link</h2>
.
  <iframe src="https://localhost:8445/accRealTime" sandbox="allow-top-navigation-by-user-activation allow-same-origin allow-scripts allow-popups allow-forms"  name="iframe_a" height="300px" width="100%" title="Iframe Example">
  </iframe>




  <p><a href="https://172.28.8.245:8443/aeonix/mainForm.jsf" target="iframe_a">aeonix</a></p>
  <p><a href="https://en.wikipedia.org/wiki/Avocado" id="testid" target="iframe_a">wikipedia</a></p>
  <p><a href="https://172.28.1.130:8445/accRealTime" target="iframe_a">accRealTime</a></p>
  <p>When the target attribute of a link matches the name of an iframe, the link will open in the iframe.</p>

    <!--iframe src="https://172.28.1.130:8445/accRealTime" name="iframe_a" height="300px" width="100%" title="Iframe Example">
  </iframe-->
</div>
