<div id="parent3"  [hidden]="storyInput?.hide" [ngClass]="classes"  >
  <div id="parent1" >
    <div class="main"  [formGroup]="this.currentForm" >
      <div  style="{{_translate?.currentDir == 'rtl' ? 'text-align: right;' : 'text-align: left;'}}" >
        <p  >{{storyInput.state | translate }}</p>

        <br>
        <span [ngSwitch]="storyInput?.type">
          <span *ngSwitchCase="'password'" >
            <storybook-button-continue   size="small" label="{{'Change Password' | translate}}" type="button" (onClick)="this.changePassword.emit()" >
            </storybook-button-continue>
          </span>
          <span *ngSwitchCase="'enable-profile-picture'" >
            <label [attr.aria-label]="storyInput?.id + ''"  for="{{ storyInput?.title }}" class="UserNameType" >{{storyInput.title | translate}}  </label>
            <div class="user-checkbox-header">
            <input  style="position: relative; margin: 0 2px 0 2px;   top: 1px; right: 3px;"  type="checkbox"
                    (change)="onClickButtonSave()"/>
            <label class="EnableProfilePicture">{{ 'Enable Profile Picture' | translate }}</label>


            </div>
            <p class="confirmation-change D-Caps-Regular">{{ this.regErrorMessage | translate }}</p>
              <!--table >
                <tr>{{ this.regErrorMessage['message'] | apiErrorMessage: param }}</tr>
                <tr  *ngFor="let message of this.regErrorMessage['message']">{{message.trim() | apiErrorMessage: param }}</tr>
              </table-->
          </span>
          <span *ngSwitchDefault >
            <label  [attr.aria-label]="storyInput?.id + ''" for="{{ storyInput?.title }}" class="Vector2 ">
              <img src="{{ storyInput?.icon }}" class="icon-input" alt="icon input userName"  name="{{ storyInput?.title }}" />
              <div [ngClass]="classes" [inputPopover] = "this.popover" [data]="this.getErrorList(this.conditionList)" [header]="this.getErrorHeader(this.storyInput.title)">
                <input #mInput
                  readonly="true"
                  style="color: #9a9a9a;"
                  type="{{storyInput?.type}}"
                  id="{{ storyInput?.id }}"
                  class="inputField"
                  name="{{storyInput?.title}}"
                  formControlName="{{storyInput?.title}}"
                  placeholder="{{storyInput.placeholder | translate}}"
                  required />
              </div>


              <br>


            </label>

            <storybook-button-edit-save (onStateChange)="onStateChange($event)" #addAttribute>
            </storybook-button-edit-save>

            <p *ngIf="(this.regErrorMessage?.detailName == storyInput?.name)" class="confirmation-change D-Caps-Regular"
            >{{ this.regErrorMessage.detailValue | translate }}</p>

          </span>

        </span>

      </div>
    </div>
  </div>


</div>
