
<!--html>
<head>
  <style>

  </style>
  <title></title>
</head>
<body>

<article><div class="Frame-1 relative">
<section class="relative " Style="{ 'background': backgroundColor }"-->

<figure class="Desktop-1Login-1"  [ngClass]="classes" [ngStyle]="{ 'background-color': background }" >
      <!--div [ngStyle]="{ 'background-color': background }" ></div-->
    <img src="assets/images/icon-1.webp" srcset="./assets/images/icon-1@2x.webp 2x, /assets/images/icon-1@3x.webp 3x"
          alt="icon-1" />

    <img src="assets/images/icon-2.webp" srcset="./assets/images/icon-2@2x.webp 2x, /assets/images/icon-2@3x.webp 3x"
         class="icon-2  " alt="icon-2fdf" />


</figure>

<storybook-button-language size="large"></storybook-button-language>
<storybook-button-tadiran></storybook-button-tadiran>
<storybook-button-globe></storybook-button-globe>

<!--app-login></app-login-->

<storybook-form
  [isLoggedIn]="false"
  [storyInputs]="storyInputsInOrder"
></storybook-form>


<!--/section></div>
</article>

</body>
</html-->


