
.font_0 {
  font-size:44px;
  text-align:left;
  color:#FFFFFF;
}

.alert, .alert-success {
  width: 50%;
}


.background {
  background-size: cover;
  background-origin: border-box;
  background-image: url(/assets/images/Background.webp);
  /*linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));*/
  background-repeat: no-repeat;
  background-position: top left;

}

/*
iframe {
  border: 1px solid black;
  width: 100%;
}

.output {
  background: #eee;
}
*/
