



.storybook-input {
  position: relative;
  width: 445px;
  height: 102px;
  left: calc(50% - 445px/2 - 0.5px);
  top: calc(50% - 101.16px/2 - 171.58px);
  padding: 0.8px 0 0;
  background-color: #FFFFFF;
}

.storybook-input .Frame-3 {
  width: 445px;
  height: 102px;
  left: calc(50% - 445px/2 - 0.5px);
  top: calc(50% - 101.16px/2 - 171.58px);
  padding: 0.8px 0 0;
  background-color: #fff;
}

.user-name {
  position: absolute;
  width: 82px;
  height: 35px;
  left: 0%;
  right: 82.7%;
  top: 10%;
  bottom: 68.37%;
  /* identical to box height, or 223% */
  display: flex;
  align-items: center;
  letter-spacing: -0.011em;
  text-transform: uppercase;

  color: #000000;
}



/* D Caps Regular */
.D-Caps-Regular {
  font-family: Noto Sans, ui-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 31px;
}

img.icon-input-username {
  position: absolute;
  width: 22.72px;
  height: 26.74px;
  left: 20px;
  bottom: 8px;
  transform: rotate(0deg);
  background-position: bottom;
}

img.icon-input-password {
  position: absolute;
  width: 22.72px;
  height: 26.74px;
  left: 20px;
  bottom: 8px;
  transform: rotate(0deg);
  background-position: bottom;
}

.DanK203 {
  position: relative;
  height: 25px;
  width: 228px;
  left: 35px;
  bottom: -5px;
  margin: 4.2px 1px 2.8px 20.3px;

  /* D Example Italic */
  object-fit: contain;
  font-family: Noto Sans, ui-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 48%;
  /* or 65% */

  box-shadow: none;
  display: flex;
  align-items: center;
  letter-spacing: -0.19px;

  border-color: rgba(255, 255, 255, 0);
  color: #000000;
}

.icon-input-showpass {
  position: absolute;
  width: 33px;
  height: 20px;
  right: 10px;
  bottom: 11px;
  padding: 0px;
  margin: 0;
  border-bottom-width: 0px;


  /*transform: rotate(0deg);
  background-position: bottom;*/
  background-color: rgba(45, 148, 55, 0);
}



img.icon-input-showpass {
  position: absolute;
  bottom: 1px;
  right: 1px;
  width: inherit;
  height: inherit;
  padding: 0px;
  margin: 0px;
  /*object-fit: contain;
  box-shadow: 0 1px 1px 0 rgba(61, 142, 207, 0.15);*/
}



input[type=text]:focus {
  background: #99999900;
  box-shadow: 0 0 5px #99999900;
  border-top-color: #99999900;
  border-left-color: #99999900;
  border-right-color: #99999900;
}


input::placeholder {
  color: #C8C8C8;
}

input[type=password]:focus {
  color: #000000;
  background: #99999900;
  box-shadow: 0 0 5px #99999900;
  border-top-color: #99999900;
  border-left-color: #99999900;
  border-right-color: #99999900;
}

.Vector2 {
  box-sizing: border-box;
  position: absolute;


  left: 0.2%;
  right: 0.03%;
  top: 42.66%;
  bottom: 0;

  /* White */
  background: #FFFFFF;
  /* Blue */
  border: 2px solid #3D8ECF;
  border-radius: 10px;
}

.login-button {
  width: 446px;
  height: 63px;
  margin: 26px 0 0 1px;
  padding: 17px 136px 17px 139px;
  border-radius: 7px;
  background-image: linear-gradient(180deg, #3D8ECF 0%, #58A6E4 100%);

  font-family: 'Noto Sans', ui-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 11px;
}

.thematic-break {
  margin: 45px 2px 71px 2.5px;
  background-color: #3d8ecf;
  border-top-width: 1px;
  border-top-color: rgb(61, 142, 207);
  border-top-style: solid;
}

.forgot-password {
  /* D UnderLine Regular */

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  /* identical to box height, or 183% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.011em;
  text-decoration-line: underline;

  color: #000000;
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 400px !important;
  padding: 10px 10px;


}
.col-md-12{
  position: center;
  width: 637.5px;
  height: 819px;
  left: calc(50% - 637.5px/2 - 0.25px);
  top: calc(50% - 819px/2 - 20.5px);

}


.card {
  position: absolute;
  left: 5.18%;
  right: 4.78%;
  top: 0;
  bottom: 0;
  border-radius: 14px;
  box-shadow: -4px 4px 10px 0 rgba(88, 166, 228, 0.3);
  background-color: #fff;
}


.Aeonix-App-Center {
  position: absolute;
  top: 12.94%;
  bottom: 77.05%;

  width: 447px;
  height: 82px;
  flex-grow: 0;
  margin: 0 0 19.8px;
  font-family: "Noto Sans", ui-serif;
  font-size: 40px;
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
  line-height: 45px;
  letter-spacing: -0.011px;
  text-align: left;
  color: #000000;
}

._1Q9if, ._2Hij5 {
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: start;
  pointer-events: none;
}

._3SQN-, ._3wnIc {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.multi-bg-example {
  width: 980px;
  height: 289px;
  object-fit: cover;
  object-position: 50% 50%;
}

.font_0 {
  font-size:44px;
  text-align:left;
  color:#FFFFFF;
}

.alert, .alert-success {
  width: 50%;
}


.background {
  background-size: cover;
  background-origin: border-box;
  background-image: url(/assets/images/Background.webp);
  /*linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));*/
  background-repeat: no-repeat;
  background-position: top left;

}

.card-footer {
  padding-top: 0.1rem;
  padding-right: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 0.1rem;

  border-top: 0.1rem solid rgba(0, 0, 0, 0.125);

  border-bottom: 0.1rem;
  background-color: rgba(0, 0, 0, 0.03);

}

.footer ul.footer-menu li.bold a {
  font-weight: 700;
}
