


<div id="main-login-card" class="col-md-12">
  <storybook-card class="card-container"></storybook-card>
  <div  class="h-100 d-flex align-items-center justify-content-center">
    <div class="form-header">
      <a>Aeonix App Center</a>
    </div>

    <br>
    <!--form name="form"  (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate --> <!-- *ngIf="!isRegSuccess"-->
      <form name="currentForm"   [formGroup]="mForm">
      <div  *ngIf="!isLoggedIn" class="Vector">



            <div *ngIf="isLoggedIn">isRegSuccess</div>
            <div *ngIf="!isLoggedIn && storyInputsInOrder.length === 0">empty</div>
            <storybook-input
              *ngFor="let storyInput of storyInputsInOrder"
              [storyInput]="storyInput"
              (onArchiveInput)="onArchiveInput.emit($event)"
              (onPinInput)="onPinInput.emit($event)"
              [currentForm]="mForm">
            </storybook-input>


        <div class="login-button">
          <!--/div>
          <div class="Vector"-->
            <br>
            <div class="thematic-break"></div>



              <a (click)="openReplacePassword()"
                 class="forgot-password"  href="#/login" >
                Forgot password?
              </a>
            <!-- (click)="" openReplacePassword()-->

              <storybook-button-continue size="medium" label="Continue" type="button" (click)="onSubmit()" ></storybook-button-continue>
            </div>



          </div>
          <div class="form-group">
              <div class="alert alert-danger" role="alert" *ngIf="isLoginFailed">
                Login failed: {{ loginErrorMessage }}
              </div>
          </div>
    </form>
  </div>
</div>

