<div class="password-alert-text" Style="text-indent: 27px; padding-bottom: 15px">
<tr><strong>{{this.actionHeader}}</strong></tr>
</div>
<div >

  <table >

    <!--thead>

    </thead-->
    <tbody>
      <tr *ngFor="let actionInput of actionInputs">
        <td  *ngIf="actionInput.isFulfilled" Style="color: green">✔</td>
        <td  *ngIf="!actionInput.isFulfilled" Style="color: red">X</td>
        <td Style="text-indent: 7px">{{ actionInput.presentingMessage }}</td>
      </tr>
    </tbody>
  </table>


</div>
